@media screen and (max-width: 720px)
  .header__nav-container
    display: none
  .header
    text-align: center
    height: 14vh

  .header__logo-svg
    float: none
    svg
      height: auto
      width: 150px

  .main
    padding-top: 2vh

  .main-slogan
    height: 16vh
    padding-top: 0

  .main-slogan__wrapper
    text-align: center
    padding: 0 4vw
    margin: 0
    font-size: 1.3rem

  .main-hero
    margin-top: 15vh
    height: 42vh

  .main-skills
    padding-top: 0

  .main-skills__title
    font-size: 2.2rem
    margin: 0
    padding: 0 4vw

  .main-skills__grid
    padding: 0 $padding-lr__sm/2 $padding-bt__lg $padding-lr__sm/2
    margin-top: 0

  .main-skills__item
    min-width: 20%
    min-height: 20%
    margin: 0 $padding-lr__sm

  .main-work
    padding-bottom: 0

  .main-work__title
    font-size: 2.2rem
    margin: 0
    padding: 0 4vw

  .main-work__grid
    display: block

  .main-work__item
    height: 8vh
    filter: grayscale(1)

  .main-about
    display: block
    padding: 0 2vw 5vh 2vw
    h3
      font-size: 2.2rem

  .fa
    font-size: 1.9rem

  .footer
    text-align: center
    padding: 2vh 0 1vh 0
