@media screen and (max-width: 720px)
  .header__nav-container
    display: none
  .header
    text-align: center
    top: 20px

  .header__logo-svg
    float: none
    svg
      height: auto
      width: 180px

  .main
    padding-top: 160px

  .main-slogan__wrapper
    text-align: center
    padding: 0 $padding-lr__sm
    margin: 0 auto
    font-size: 1.4rem

  .main-skills__grid
    padding: 0 $padding-lr__sm/2 $padding-bt__lg $padding-lr__sm/2

  .main-skills__item
    min-width: 20%
    min-height: 20%
    margin: $padding-bt__md $padding-lr__sm

