@media screen and (max-width: 720px)
  .header__nav-container
    display: none

  .header
    text-align: center
    height: 14vh

  .header__logo-svg
    float: none
    svg
      height: auto
      width: 150px

  .main
    padding-top: 2vh

  .main-slogan
    height: 16vh
    padding-top: 0

  .main-slogan__wrapper
    text-align: center
    padding: 0 4vw
    margin: 0
    font-size: 1.3rem

  .main-hero
    margin-top: 15vh
    height: 42vh

  .main-hero__left-hand
    img
      margin-left: -20%
      width: 150%
      height: 150%

  .main-hero__right-hand
    img
      margin-left: -15%
      width: 150%
      height: 150%

  .main-skills
    padding-top: 15vh

  .main-skills__title
    font-size: 2.2rem
    margin: 0
    padding: 0 4vw

  .main-skills__grid
    padding: 0 $padding-lr__sm/2 $padding-bt__lg $padding-lr__sm/2
    margin-top: 0

  .main-skills__item
    min-width: 20%
    min-height: 20%
    margin: 0 $padding-lr__sm

  .main-work
    padding-bottom: 0

  .main-work__title
    font-size: 2.2rem
    margin: 0
    padding: 0 4vw

  .main-work__grid
    display: block

  .main-work__item
    height: 30vh
    transition-delay: 0s
    filter: grayscale(0)

  .main-work__item--grow
    filter: grayscale(1)
    height: 8vh

  .main-about
    display: block
    padding: 0 2vw 5vh 2vw
    p
      font-size: 1.1rem
    h3
      font-size: 2rem

  .main-about__personal-info, .main-about__contact, .main-about__social
    padding-bottom: 2vw
    h3
      margin-bottom: 1vh

  .main-about__personal-info p
    margin: 0

  .send-btn
    font-size: 0.8rem
    line-height: 1

  .fa
    font-size: 1.9rem

  .footer
    text-align: center
    padding: 8vh 0 0 0
    p
      padding: 0 0 $padding-bt__sm 0
      text-align: center

  .footer-fixed-bg
    background: url(../img/map01.png) no-repeat fixed
    background-color: $color__dark
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  .footer__pin-wrapper
    top: 55%

  .footer__pin
    &:after
      width: 55px
      height: 55px
