@media screen and (min-width: 721px)
  #wli-0
    flex: 11
    &:hover
      filter: none !important
      flex: 110
  #wli-1
    flex: 8
    &:hover
      filter: none !important
      flex: 110
  #wli-2
    flex: 6
    &:hover
      filter: none !important
      flex: 110
  #wli-3
    flex: 4
    &:hover
      filter: none !important
      flex: 110
  #wli-4
    flex: 2
    &:hover
      filter: none !important
      flex: 110

  .main-work__item
    height: 80vh !important
    filter: grayscale(1) !important
