@media screen and (min-width: 721px)
  .main-work__img--large
    display: block
  .main-work__img--small
    display: none

  #wli-0, #wli-1, #wli-2, #wli-3, #wli-4
    &:hover
      filter: none
      flex: 110

  .fa
    transition: color 0.1s ease-in-out
    &:hover
      color: #9F9F9F

  #work-img-1
    background-image: url("/img/slider/weather_large.png")
  #work-img-2
    background-image: url("/img/slider/twitch_large.png")
  #work-img-3
    background-image: url("/img/slider/ttts_large.png")
  #work-img-4
    background-image: url("/img/slider/map_large.png")
  #work-img-5
    background-image: url("/img/slider/calculator_large.png")
