header.header
  span.header__logo-svg
    include header__icon.pug
  span.header__logo-name(aria-label="eheek") Errec
  div.header__nav-container
    nav.header__nav
      ul.header__row
        li.header__list
          a skills
        li.header__list
          a projects
        li.header__list
          a contact
