section.main-about__personal-info
  h3 ABOUT ME
  p I'm a Front-end Developer based in Belo Horizonte, BR, currently focused on remote or local entry level position. Looking for amazing projects? Send me a message!
  p This site and the Work section ones were designed and built by hand from the ground up. Check out the code on my Github.
section.main-about__contact
  h3 HEY!
  form.main-about__form(method="POST" action="http://formspree.io/errecme@gmail.com")
    input.main-about__input.field-input(type="email" name="email" placeholder="E-MAIL")
    input.main-about__input.field-input(type="text" name='name' placeholder="NAME")
    textarea.main-about__input.textarea-input(name="message" placeholder="YOUR MESSAGE")
    button.main-about__input.send-btn(type="submit") Send
section.main-about__social
  h3 SOCIAL
  ul.main-about__icon-row
    li.main-about__icon-list
      a.github(href="https://github.com/errec" target="_blank")
        i(class="fa fa-github" aria-hidden="true")
    li.main-about__icon-list
      a.codepen(href="https://codepen.io/Errec/" target="_blank")
        i(class="fa fa-codepen" aria-hidden="true")
    li.main-about__icon-list
      a.px(href="https://500px.com/ranirocoelho" target="_blank")
        i(class="fa fa-500px" aria-hidden="true")
    li.main-about__icon-list
      a.twitter(href="https://twitter.com/errecme" target="_blank")
        i(class="fa fa-twitter" aria-hidden="true")
    li.main-about__icon-list
      a.freecodecamp(href="https://www.freecodecamp.com/errec" target="_blank")
        i(class="fa fa-free-code-camp" aria-hidden="true")
div#about-parallax-img.main-about__paralax-wrapper
  img.main-about__paralax-img(src="./img/foot-bg.png")
