h2.main-work__title Work
div.main-work__wrapper
  ul.main-work__grid
    li.main-work__item
      a(href="#")
        img.main-work__img(src="/img/mario.png")
        span.main-work__img-overlay
    li.main-work__item
      a(href="#")
        img.main-work__img(src="/img/twitchlist.png")
        span.main-work__img-overlay
    li.main-work__item
      a(href="#")
        img.main-work__img(src="/img/cup.png")
        span.main-work__img-overlay
    li.main-work__item
      a(href="#")
        img.main-work__img(src="/img/wikiview.png")
        span.main-work__img-overlay
    li.main-work__item
      a(href="#")
        img.main-work__img(src="/img/pencil.png")
        span.main-work__img-overlay
    li.main-work__item
      a(href="#")
        img.main-work__img(src="/img/quotes.png")
        span.main-work__img-overlay
