section.main-about__personal-info
  h3 WHO IS?
  p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
  p No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure.
section.main-about__contact
  h3 SAY HI...
  form.main-about__form(action="")
    input.main-about__input.field-input(type="text" placeholder="NAME")
    input.main-about__input.field-input(type="email" placeholder="E-MAIL")
    textarea.main-about__input.textarea-input(placeholder="YOUR MESSAGE")
    input.main-about__input.send-btn(type="submit" value="SEND")
section.main-about__social
  h3 FIND ME!
  ul.main-about__icon-row
    li.main-about__icon-list
      a.github(href="")
        i(class="fa fa-github" aria-hidden="true")
    li.main-about__icon-list
      a.codepen(href="")
        i(class="fa fa-codepen" aria-hidden="true")
    li.main-about__icon-list
      a.px(href="")
        i(class="fa fa-500px" aria-hidden="true")
    li.main-about__icon-list
      a.twitter(href="")
        i(class="fa fa-twitter" aria-hidden="true")
    li.main-about__icon-list
      a.freecodecamp(href="")
        i(class="fa fa-free-code-camp" aria-hidden="true")
