h2.main-work__title Projects
div.main-work__wrapper
  ul.main-work__grid
    li.main-work__item(id="wli-0")
      a(href="")
        img.main-work__img(src="/img/mario.png")
        span.main-work__img-overlay
    li.main-work__item(id="wli-1")
      a(href="")
        img.main-work__img(src="/img/twitchlist.png")
        span.main-work__img-overlay
    li.main-work__item(id="wli-2")
      a(href="")
        img.main-work__img(src="/img/quotes.png")
        span.main-work__img-overlay
    li.main-work__item(id="wli-3")
      a(href="")
        img.main-work__img(src="/img/wikiview.png")
        span.main-work__img-overlay
    li.main-work__item(id="wli-4")
      a(href="")
        img.main-work__img(src="/img/pencil.png")
        span.main-work__img-overlay
