section.main-about__personal-info
  h3 WHO IS?
  p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabot.
  p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
section.main-about__contact
  h3 TALK TO ME
  form.main-about__form(action="")
    input.main-about__input.field-input(type="text" placeholder="NAME")
    input.main-about__input.field-input(type="email" placeholder="E-MAIL")
    textarea.main-about__input.textarea-input(placeholder="YOUR MESSAGE")
    input.main-about__input.send-btn(type="submit" value="SEND")
section.main-about__social
  h3 FIND ME ELSEWHERE
  ul.main-about__icon-row
    li.main-about__icon-list
      a.github(href="")
        i(class="fa fa-github" aria-hidden="true")
    li.main-about__icon-list
      a.codepen(href="")
        i(class="fa fa-codepen" aria-hidden="true")
    li.main-about__icon-list
      a.px(href="")
        i(class="fa fa-500px" aria-hidden="true")
    li.main-about__icon-list
      a.twitter(href="")
        i(class="fa fa-twitter" aria-hidden="true")
    li.main-about__icon-list
      a.freecodecamp(href="")
        i(class="fa fa-free-code-camp" aria-hidden="true")
