h2.main-work__title Projects
div.main-work__wrapper
  ul.main-work__grid
    li.main-work__item--grow.main-work__item(id="wli-0")
      a(href="https://codepen.io/Errec/full/ZprVwZ/")
        div#work-img-1.main-work__img
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-1")
      a(href="https://codepen.io/Errec/full/MbLxOz/")
        div#work-img-2.main-work__img
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-2")
      a(href="https://codepen.io/Errec/full/VpXJaG/")
        div#work-img-3.main-work__img
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-3")
      a(href="https://enfermagem.surge.sh")
        div#work-img-4.main-work__img
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-4")
      a(href="https://supernintendo.surge.sh")
        div#work-img-5.main-work__img
        span.main-work__img-overlay
