h2.main-work__title Projects
div.main-work__wrapper
  ul.main-work__grid
    li.main-work__item--grow.main-work__item(id="wli-0")
      a(href="")
        img.main-work__img.main-work__img--large(src="/img/slider/weather_large.png")
        img.main-work__img.main-work__img--small(src="/img/slider/weather_small.png")
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-1")
      a(href="")
        img.main-work__img.main-work__img--large(src="/img/slider/twitch_large.png")
        img.main-work__img.main-work__img--small(src="/img/slider/twitch_small.png")
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-2")
      a(href="")
        img.main-work__img.main-work__img--large(src="/img/slider/ttts_large.png")
        img.main-work__img.main-work__img--small(src="/img/slider/ttts_small.png")
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-3")
      a(href="")
        img.main-work__img.main-work__img--large(src="/img/slider/map_large.png")
        img.main-work__img.main-work__img--small(src="/img/slider/map_small.png")
        span.main-work__img-overlay
    li.main-work__item--grow.main-work__item(id="wli-4")
      a(href="")
        img.main-work__img.main-work__img--large(src="/img/slider/calculator_large.png")
        img.main-work__img.main-work__img--small(src="/img/slider/calculator_small.png")
        span.main-work__img-overlay
