h2.main-skills__title Skills
div.main-skills__warppaer
  ul.main-skills__gird
    li.main-sills__item 1
    li.main-sills__item 2
    li.main-sills__item 3
    li.main-sills__item 4
    li.main-sills__item 5
    li.main-sills__item 6
    li.main-sills__item 7
    li.main-sills__item 8
