div.main-hero__left-hand#left-hand
  div.main-hero__boxes
    div.main-hero__box-wrapper.main-hero__box-wrapper-1
      p.hero__box--small.hero__box.hero__box-0 {
      p.hero__box--small.hero__box.hero__box-1 "
      p.hero__box.hero__box-2 HELLO
      p.hero__box.hero__box-3 WORLD!
      p.hero__box--small.hero__box.hero__box-4 "
      p.hero__box--small.hero__box.hero__box-5 }
  img(src='img/hero_left.png')
div.main-hero__right-hand#right-hand
  img(src='img/hero_right.png')
