h2.main-skills__title Skills
div.main-skills__warppaer
  ul.main-skills__grid
    li.main-skills__item 1
    li.main-skills__item 2
    li.main-skills__item 3
    li.main-skills__item 4
    li.main-skills__item 5
    li.main-skills__item 6
    li.main-skills__item 7
    li.main-skills__item 8
    li.main-skills__item 9
    li.main-skills__item 10
    li.main-skills__item 11
    li.main-skills__item 12
