section.main-about__personal-info
  h3 WHO IS?
  p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabot.
  p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupt
section.main-about__contact
  h3 TALK TO ME
  form.main-about__form(action="")
    input.main-about__input(type="text" placeholder="NAME")
    input.main-about__input(type="email" placeholder="E-MAIL")
    textarea.main-about__input.main-about__input--textarea(placeholder="YOUR MESSAGE")
    input.main-about__input(type="submit" value="SEND")
section.main-about__social
