section.main-about__personal-info
  h3 ABOUT ME
  p I'm a Front-end Developer based in Belo Horizonte, BR. Looking for amazing projects? Send me a message!
  p This site and the Work section ones were designed and built by hand from the ground up. Check out the code on my Github.
section.main-about__contact
  h3 HEY!
  form#about-form.main-about__form(method="POST" action="http://formspree.io/errecme@gmail.com")
    input#input-email.main-about__input.field-input(type="email" name="email" placeholder="E-MAIL")
    input.main-about__input.field-input(type="text" name='name' placeholder="NAME")
    textarea#input-message.main-about__input.textarea-input(name="message" placeholder="YOUR MESSAGE")
    button#input-btn.main-about__input.send-btn(type="button" value="submit" onclick="runMyFunction()") Send
section.main-about__social
  h3 SOCIAL
  ul.main-about__icon-row
    li.main-about__icon-list
      a(href="https://github.com/errec" target="_blank")
        include social-svg/github.pug
    li.main-about__icon-list
      a(href="https://codepen.io/Errec/" target="_blank")
        include social-svg/codepen.pug
    li.main-about__icon-list
      a(href="https://linkedin.com/in/raniro/" target="_blank")
        include social-svg/500px.pug
    li.main-about__icon-list
      a(href="https://twitter.com/errecme" target="_blank")
        include social-svg/twitter.pug
    li.main-about__icon-list
      a(href="https://www.freecodecamp.com/errec" target="_blank")
        include social-svg/fcc.pug
div#about-parallax-img.main-about__paralax-wrapper
  img.main-about__paralax-img(src="./img/foot-bg.png")
