section.main-about__personal-info
  h3 ABOUT ME
  p I'm a Front-end Developer. Love cool stuffs. Looking for amazing projects? With me. Big time.
  p Towards the infinity, beyond the impossible/Where the bread crumbs rumble over the ground of the city/Lives that poor pity little lazy guy/Inside the seed of a peach
section.main-about__contact
  h3 HEY!
  form.main-about__form(action="")
    input.main-about__input.field-input(type="text" placeholder="NAME")
    input.main-about__input.field-input(type="email" placeholder="E-MAIL")
    textarea.main-about__input.textarea-input(placeholder="YOUR MESSAGE")
    input.main-about__input.send-btn(type="submit" value="SEND")
section.main-about__social
  h3 SOCIAL
  ul.main-about__icon-row
    li.main-about__icon-list
      a.github(href="https://github.com/errec" target="_blank")
        i(class="fa fa-github" aria-hidden="true")
    li.main-about__icon-list
      a.codepen(href="https://codepen.io/Errec/" target="_blank")
        i(class="fa fa-codepen" aria-hidden="true")
    li.main-about__icon-list
      a.px(href="https://500px.com/ranirocoelho" target="_blank")
        i(class="fa fa-500px" aria-hidden="true")
    li.main-about__icon-list
      a.twitter(href="https://twitter.com/errecme" target="_blank")
        i(class="fa fa-twitter" aria-hidden="true")
    li.main-about__icon-list
      a.freecodecamp(href="https://www.freecodecamp.com/errec" target="_blank")
        i(class="fa fa-free-code-camp" aria-hidden="true")
