h2.main-work__title Work
div.main-work__wrapper
  ul.main-work__grid
    li.main-work__item 1
    li.main-work__item 2
    li.main-work__item 3
    li.main-work__item 4
    li.main-work__item 5
    li.main-work__item 6
