h2.main-skills__title Skills
div.main-skills__wrapper
  ul#skills-grid.main-skills__grid
    li.main-skills__item
      include skills-svg/html.pug
    li.main-skills__item
      include skills-svg/js.pug
    li.main-skills__item
      include skills-svg/css.pug
    li.main-skills__item
      include skills-svg/git.pug
    li.main-skills__item
      include skills-svg/bootstrap.pug
    li.main-skills__item
      include skills-svg/gulp.pug
    li.main-skills__item
      include skills-svg/vue.pug
    li.main-skills__item
      include skills-svg/ps.pug
    li.main-skills__item
      include skills-svg/node.pug
    li.main-skills__item
      include skills-svg/react.pug
    li.main-skills__item
      include skills-svg/sass.pug
    li.main-skills__item
      include skills-svg/wp.pug
