$color__dark: #151515 !default;
$color__light: #F4F4F4 !default;

$padding-lr__lg: 60px !default;
$padding-bt__lg: 40px !default;
$padding-lr__md: 40px !default;
$padding-bt__md: 20px !default;
$padding-lr__sm: 20px !default;
$padding-bt__sm: 10px !default;

$font__size: 15px !default;
$font__line: 20px !default;
