.footer
  overflow: hidden
  position: relative
  width: 100%
  padding: 0
  margin: 0
  p
    padding: 0 $padding-lr__lg $padding-bt__md 0
    margin: 0
    text-align: end
    font: menu
    color: $color__light
    font-size: 0.8rem

.footer-fixed-bg
  height: 20vh
  width: 100%
  background: url(../img/map01.png) no-repeat fixed
  background-color: $color__dark
  background-position: center 120%
  background-size: contain

.footer__pin-wrapper
  position: absolute
  left: 50%
  top: 50%
  transform: translateX(-25%) translateY(-50%)
  text-align: center

.footer__pin
  animation: xAxis-exit 1s forwards
  position: relative
  &:after
    animation: yAxis-exit 1s cubic-bezier(0.45,-1.19, 0.16, 1.57) forwards
    content: ''
    display: block
    width: 80px
    height: 80px
    background:
      image: url("../img/map-pin.svg")
      size: cover
      repeat: no-repeat

.footer__pin--enter
  animation: xAxis-enter 0.5s forwards
  &:after
    animation: yAxis-enter 0.7s cubic-bezier(0.46, 0.03, 0.6, 1.61) forwards

@keyframes yAxis-enter
  0%
    transform: translateY(20vh) rotate(90deg)
  100%
    transform: translateY(0) rotate(0deg)

@keyframes xAxis-enter
  0%
    transform: translateX(20vw)
  100%
    transform: translateX(0)

@keyframes yAxis-exit
  99.9%
    transform: translateY(22vh)
  100%
    transform: translateY(22vh) rotate(90deg)

@keyframes xAxis-exit
  99.9%
    transform: translateX(0)
  100%
    transform: translateX(20vw)
