.footer
  padding: 0 $padding-lr__lg $padding-bt__sm 0;
  text-align: end;

.body-container
  background-color: $color__dark
  margin-bottom: 130px

.footer-fixed-container
  background-image: url(../img/map01.png)
  background-repeat: no-repeat
  background-position: center
  background-color: $color__dark
  background-size: cover
  width: 100%
  height: 140px
  position: fixed
  bottom: 0px
  z-index: -1
