.footer
  width: 100%
  p
    padding: 0 $padding-lr__lg $padding-bt__sm 0
    text-align: end
    font: menu
    color: $color__light
    font-size: 0.8rem

.footer-fixed-bg
  height: 20vh
  background-image: url(../img/map01.png)
  background-repeat: no-repeat
  background-position: center
  background-color: $color__dark
  background-size: cover
  background-attachment: fixed
