.header
  position: absolute
  background-color: blue
  left: $padding-lr__lg
  right: $padding-lr__lg
  top: $padding-bt__lg

.header__logo-name
  color: transparent
  user-select: none
  cursor: default

.header__logo-svg
  float: left

.header__row
  list-style: none
  text-align: right

.header__list
  display: inline-block
  margin-left: $padding-lr__lg
  a
    color: inherit
    letter-spacing: 0.2em
    text-decoration: none

