.main-hero
  padding-bottom: 55%
  background-color: $color__light
  width: 100%
  position: relative
  display: block
  margin-top: 15vh
  &:after
    content: ""
    display: table
    clear: both

.main-hero__left-hand
  width: 65%
  position: absolute
  left: 0
  top: 0
  transform: rotate(25deg) translateX(-35%) translateY(-2%)
  transition: transform 1s ease-in-out, margin 1s cubic-bezier(0.12, -0.42, 0.9, 1.17);
  img
    width: 100%
    height: 100%

.main-hero__left-hand--move
  transform: rotate(15deg) translateX(-20%) translateY(0%)

.main-hero__right-hand
  width: 65%
  position: absolute
  transform: rotate(-1deg) translateX(16%) translateY(-40%)
  right: 0
  top: 0
  transition: transform 1s ease-in-out, margin 1s cubic-bezier(0.12, -0.42, 0.9, 1.17);
  img
    width: 100%
    height: 100%

.main-hero__right-hand--move
  transform: rotate(5deg) translateX(8%) translateY(-25%)

.main-hero__boxes
  padding: 6% 4% 0 4%
  position: absolute
  width: 23%
  height: 86%
  top: 2%
  left: 39%
  transform-style: preserve-3d
  transform: translateY(-40px) translateX(-40px) rotateX(59deg) rotateZ(-25deg) rotateY(-85deg)
.main-hero__box-wrapper
  position: relative
  width: 100%
  height: 100%
  transform-style: preserve-3d
.hero__box
  line-height: 1
  padding: 4%
  font-size: 3vw
  position: absolute
  margin: 0 0 0 20%
  height: 10%
  display: inline-block
  margin-bottom: 35%
  background-color: #292929
  transform-style: preserve-3d
  &:after, &:before
    content: ""
    position: absolute
  &:before
    transform: rotateY(90deg) translateX(-100%)
    transform-origin: 0 100%
    left: 0px
    bottom: 0px
    height: 100%
    width: 17.5%
    background-color: green
    // background-color: #1D1D1D
  &:after
    background-color: red
    // background-color: #535353
    transform: rotateX(90deg)
    transform-origin: 0 0
    left: 0px
    top: 0px
    width: 100%
    height: 38%

.hero__box--large
.hero__box--small
  width: 40%
  text-align: center
  &:before
    width: 32.5%
.hero__box-0
  top: 0
.hero__box-1
  top: 20%
  font-size: 6vw
  padding-top: 3%
  padding-right: 10%
  left: 0%
.hero__box-2
  right: 0
  top: 40%
  &:before
    width: 25.5%
.hero__box-3
  top: 60%
  &:before
    width: 23.5%
.hero__box-4
  padding-top: 3%
  padding-left: 10%
  font-size: 6vw
  top: 80%
  left: 40%
.hero__box-5
  top: 100%

.hero__box--state-0
  background-color: transparent
  transform: translateX(-25%)
  &:after, &:before
    width: 0
    height: 0
