.main-about
  padding: 0 $padding-lr__lg $padding-bt__lg $padding-lr__lg
  display: flex
  justify-content: space-between
  > *
    flex: 1
    margin: 0 16px
  h3
    font-size: 2rem
  p
    font-size: 1.4rem

.main-about__form
  height: 240px
  justify-content: space-between
  display: flex
  flex-direction: column
  > *
    flex: 1
    border-radius: 2px
    margin: 8px 0
    border: solid white 2px
  input
    flex: 1
  textarea
    flex: 4

.main-about__icon-row
  padding: 0
  list-style: none

.fa
  font-size: 40px
  color: $color__light

.main-about__icon-list
  margin: 0
  padding: 0 16px 0 0
  float: left
