.main-hero
  margin-top: 90px
  background-color: $color__light
  position: absolute
  width: 100%

.main-hero__left-hand
  margin-top: -8%
  margin-left: -9%
  float: left
  max-width: 43%
  img
    width: 120%
    height: 120%

.main-hero__right-hand
  margin-top: -25%
  margin-right: -8%
  float: right
  max-width: 57%
  transform: rotate(-5deg)
  img
    width: 120%
    height: 120%

