.main-work
  padding-top: $padding-bt__lg
  display: block

.main-work__title
  font-size: 3rem
  padding-left: $padding-lr__lg
  margin-bottom: $padding-bt__md

.main-work__grid
  list-style: none
  display: flex
  flex-wrap: wrap
  justify-content: center

.main-work__item
  max-width: 33.333%
  width: 33.333%

.main-work__img
  height: 100%
  width: 100%
  object-fit: cover
