.main-work
  display: block

.main-work__title
  font-size: 3rem
  margin-bottom: $padding-bt__md
  padding: $padding-bt__lg $padding-lr__lg


.main-work__grid
  padding-left: 0
  width: 100%
  list-style: none
  display: flex
  flex-wrap: wrap
  justify-content: center

.main-work__item
  max-width: 33.33333%
  width: 33.33333%

.main-work__img
  height: 100%
  width: 100%
  object-fit: cover
