.main-skills
  background-color: $color__light
  color: $color__dark
  display: block

.main-skills__title
  -webkit-margin-before: 0
  font-size: 3rem
  margin-bottom: $padding-bt__md
  padding: 0 $padding-lr__lg $padding-bt__lg $padding-lr__lg

.main-skills__grid
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  list-style: none

.main-skills__item
  min-width: 60px
  width: 120px
  margin: 0 $padding-lr__lg*1.5 $padding-bt__md*2 $padding-lr__lg*1.5

.main-skills__svg--fill
  fill: $color__dark
  transition: all 0.25s ease-in-out
