.main-about
  padding: 0 $padding-lr__lg $padding-bt__lg $padding-lr__lg
  display: flex
  justify-content: space-between
  > *
    flex: 1
    margin: 0 16px
  h3
    font-size: 2rem
  p
    font-family:  arial light
    font-size: 1.2rem
    line-height: 1.5
    hyphens: auto
    text-align: justify

.main-about__form
  font-family:  arial light
  height: 260px
  justify-content: space-between
  display: flex
  flex-direction: column
  > *
    background-color: $color__light
    color: $color__dark
    padding: 0 8px
    border-radius: 3px
    margin: 8px 0
    border: solid $color__light 1px
  .field-input
    flex: 1
    font-size: 0.8rem
  .send-btn
    letter-spacing: 0.1rem
    flex: 1.4
    width: 25%
    color: $color__dark
    font-weight: bold
    border: none
    border: 1px solid $color__light
    transition: all 0.1s ease-in-out
    &:hover
      background-color: $color__dark
      color: $color__light
      border: 1px solid $color__light

  .textarea-input
    padding-top: 4px
    font-size: 0.8rem
    flex: 3.8

.main-about__icon-row
  padding: 0
  list-style: none

.fa
  font-size: 36px
  color: $color__light

.main-about__icon-list
  margin: 0
  padding: 0 20px 0 0
  float: left
