.main-work
  display: block
  padding-bottom: $padding-bt__lg

.main-work__title
  font-size: 3rem
  padding: 0 $padding-lr__lg 0 $padding-lr__lg

.main-work__grid
  display: flex
  flex-wrap: wrap
  list-style: none
  padding-left: 0

.main-work__item
  height: 700px
  transition: all 0.7s ease-in-out 0.3s

.main-work__img
  height: 100%
  width: 100%
  object-fit: cover

#wli-1
  flex: 10
  &:hover
    flex: 120
#wli-2
  flex: 7
  &:hover
    flex: 120
#wli-3
  flex: 6
  &:hover
    flex: 120
#wli-4
  flex: 4
  &:hover
    flex: 120
#wli-5
  flex: 3
  &:hover
    flex: 120
#wli-6
  flex: 2
  &:hover
    flex: 120
