@import 'variables/_base.sass'
@import 'modules/normalize.scss'
@import 'modules/reset.scss'

@import 'assets/header.sass'
@import 'assets/main-slogan.sass'
@import 'assets/main-hero.sass'
@import 'assets/main-skills.sass'
@import 'assets/main-work.sass'
@import 'assets/main-about.sass'

html, body
  background-color: $color__dark
  box-sizing: border-box
  color: $color__light
  font-size: $font__size
  font-family: "Amatic SC", serif
  font-weight: 100
  overflow-x: hidden

*, *:before, *:after
  box-sizing: inherit

h1, h2, h3, h4
  margin: 0
  padding: 0
  -webkit-margin-before: 0.83em
  -webkit-margin-after: 0.83em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px

@import 'media/max-width720.sass'
@import 'media/min-width-1540.sass'
