@import 'variables/_base.scss'
@import 'modules/normalize.scss'
@import 'modules/reset.scss'
@import '/js/vendor/bootstrap/dist/css/bootstrap.css'
@import '/js/vendor/bootstrap/dist/css/bootstrap-theme.css'

@import 'assets/header.sass'

/* apply a natural box layout model to all elements, but allowing components to change */
html, body
  background-color: grey
  box-sizing: border-box
  color: $color__light

*, *:before, *:after
  box-sizing: inherit
