@import 'variables/_base.sass'
@import 'modules/normalize.scss'
@import 'modules/reset.scss'

*, *:before, *:after
  box-sizing: inherit

html, body
  box-sizing: border-box
  color: $color__light
  background-color: $color__dark
  font-size: $font__size
  font-family: "Amatic SC", serif
  font-weight: 100
  overflow-x: hidden

h1, h2, h3, h4
  pointer-events: none
  margin: 0
  padding: 0
  -webkit-margin-before: 0.83em
  -webkit-margin-after: 0.83em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px

body
  position: relative

.main
  z-index: 1000

@import 'assets/header.sass'
@import 'assets/main-slogan.sass'
@import 'assets/main-hero.sass'
@import 'assets/main-skills.sass'
@import 'assets/main-work.sass'
@import 'assets/main-about.sass'
@import 'assets/footer.sass'

@import 'media/max-width-720.sass'
@import 'media/min-width-1540.sass'
@import 'media/min-width-721.sass'
